@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */
html {
  scroll-behavior: smooth;
}

section .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: url('/assets/wave.png') repeat-x;
  background-size: 1000px 80px;
  overflow: hidden;
}

section .wave.wave1 {
  animation: animate 7s linear infinite;
}


@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
    
  }
}


@media (max-width: 1024px) {
  section .wave {
    height: 80px;
    
    background-size: 800px 80px;
    
  }

  @keyframes animate {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: 800px;
      
    }
  }
}

@media (max-width: 768px) {
  section .wave {
    height: 60px;
    
    background-size: 600px 60px;
    
  }

  @keyframes animate {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: 600px;
      
    }
  }
}

@media (max-width: 480px) {
  section .wave {
    height: 50px;
   
    background-size: 400px 50px;
    
  }

  @keyframes animate {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: 400px;
      
    }
  }
}

@layer utilities {
  @keyframes wave-animate {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 1000px;
    }
  }

  .animate-wave {
    animation: wave-animate 7s linear infinite;
  }
}

